body{
  margin: 0;
  padding: 0;
}
.image{
  -webkit-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
-moz-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
-ms-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672)); 
-o-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
 filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672)); 
}
.medal{
  width: 20px;
}
.card{
  background: hsla(0, 0%, 0%, 1);

background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#4F5162", GradientType=1 );
}

