body{
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
  background-image: url("/figma.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.image{
  -webkit-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
-moz-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
-ms-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672)); 
-o-filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672));
 filter: drop-shadow(0px 16px 10px rgba(16, 16, 17, 0.672)); 
}
.medal{
  width: 20px;
}
.card {
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#4F5162", GradientType=1 );
  
  border: 2px solid orange;
  box-shadow: 1px 3px  4px 3px rgba(149, 73, 14, 0.941); /* Add a box-shadow with an orange color */
}

.shirt {
  background-image: url("/orange.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.fix{
  background-image: url("/card.jpg");
  background-size: cover;
}
.member{
  background-image: url("/member.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}
.year {
  color: orange; /* Set the text color to orange */
  -webkit-text-stroke: 1px black; /* For WebKit/Blink browsers */
  text-stroke: 1px black; /* Standard syntax */
}

.foot{
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#272727 1.35px, #000000 1.35px);
  background-size: 27px 27px;
}
.table{
  background-color: #000000;
opacity: 1;
background-image:  radial-gradient(#272727 1.35px, transparent 1.35px), radial-gradient(#272727 1.35px, #000000 1.35px);
background-size: 54px 54px;
background-position: 0 0,27px 27px;
}
.btn{
  background-color: orange;
}

/* .scoreCard{
  background: hsla(0, 0%, 0%, 1);
  background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(234, 11%, 35%, 1) 100%, hsla(293, 6%, 75%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#4F5162", GradientType=1 );
} */

.container1{
  background-color: #aa7223;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #aa7223 36px ), repeating-linear-gradient( #ab622755, #ab6227 );
}
.container2{
  background-color: #807e7a;
opacity: 1;
background: repeating-linear-gradient( -45deg, #8c8885, #8c8885 18px, #807e7a 18px, #807e7a 90px );
}
.container3{
  background-color: #ffffff;
opacity: 1;
background-image: radial-gradient(#e3e3e3 1.8px, #ffffff 1.8px);
background-size: 36px 36px;
}
